<ul class="pagination">
    <li {% if paginator.previous_page %} {% else %} class="disabled" {% endif %}>
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a href="{{site.url}}/blog/">&laquo;</a>
            {% else %}
                <a href="{{site.url}}/blog/page{{ paginator.previous_page }}">&laquo;</a>
            {% endif %}
        {% else %}
            <span>&laquo;</span>
        {% endif %}
    </li>
     <li {% if paginator.page == 1 %} class="active" {% endif %}>
        <a href="{{site.url}}/blog/">1</a>
    </li>
    {% for count in (2..paginator.total_pages) %}
        <li {% if count == paginator.page %} class="active" {% endif %} >
            <a href="{{site.url}}/blog/page{{ count }}">{{ count }}</a>
        </li>
    {% endfor %}
    <li {% if paginator.next_page %} {% else %} class="disabled" {% endif %}>
        {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
                <a href="{{site.url}}/blog/">&raquo;</a>
            {% else %}
                <a href="{{site.url}}/blog/page{{ paginator.next_page }}">&raquo;</a>
            {% endif %}
        {% else %}
            <span>&raquo;</span>
        {% endif %}
    </li>
</ul>